{{define "layout"}} <!-- ここからendまでをlayputテンプレートとして宣言 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SampleApp</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"> <!-- このcssファイルの読み込み -->
    <link rel="stylesheet" href="/static/css/form.css"> <!-- このcssファイルの読み込み -->
</head>
<body>
    {{template "navbar"}}
    <div class="container text-center">
        {{template "content" . }} <!-- top.htmlで宣言したcontentテンプレートを使用する,またdataとして定義したHelloはここに入る -->
    </div>
</body>
<script src="/static/js/jquery-3.6.0.min.js"></script> <!-- このjsファイルの読み込み -->
<script src="/static/js/bootstrap.bundle.min.js"></script> <!-- このjsファイルの読み込み -->
</html>
{{end}}